
h1
{
	color: rgb(97, 223, 255); 
	font-size: 40px;
}
.body_backgorund 
{
	background-image: url("bg1.jpg");
	background-size: cover;
	background-position: center;
}

#myCanvas{
border: ridge 10px chartreuse;

background-color: aliceblue;
}
